extends layout
block content
    .container
        h1.title About As
        .row
            .col-sm-4
                h3 History
                p
                    | Founded in 1975, Blundell Seafoods is a family-owned business, which through organic growth is now Western Canada’s largest independent seafood supplier. Selling an extensive range of over 1,750 fish and seafood products, Blundell is the biggest importer of fresh fish into Canada, and a proud exporter of Canada’s own naturally-abundant delicious fruits of the sea.
                    | Blundell is also Canada’s largest salmon processor. From Atlantic to sockeye, we handle hundreds of thousands of pounds of whole fish per month, providing customers – both national and international – with the very best salmon fillets, steaks and portions, as well as our very own Blundell smoked salmon, produced right here in Vancouver.
            .col-sm-4
                h3 Our facilities
                p
                    | Our state-of-the-art plant, processing facilities, cold stores and freezers are located in the heart of the Pacific Gateway, in modern custom-built facilities right on the banks of the Fraser River. Right in the middle of Port Metro Vancouver – Canada’s largest and North America’s fourth largest tonnage port – and just 10 minutes from Vancouver International Airport, we are located ideally to receive deliveries by air,
                    | water, road and rail. Fishing boats can moor right at our dedicated plant-side docks to unload their catches, minimizing transport and handling so that we can maximize our seafood freshness.
                    | Using the latest intelligent equipment and traditional techniques, we can receive and process up to 150,000 lbs of seafood per day. We offer a daily delivery service via our fleet of refrigerated trucks to local customers across the Metro Vancouver region, and also ship fresh, ensuring delivery within 24 hours to the Americas, Europe and Asia, and within 48 hours to Africa, India and Oceania.
            .col-sm-4
                h3 Our Team
                p  CEO : Lfssd sdfdsf
                p  Acc : Lfssd sdfdsf
                p  RRR : Lfssd sdfdsf