extends layout
block content
   .container
      h1.title Contact
      // form
      .contact
         .row
            .col-sm-12
               .map
               .col-sm-4
                  .spacer
                     h4
                        | Richmond
                        | 1900 No 6 Rd
                     h4 Tel: (604) 295-2010
                     h4  Fax: (604) 295-2039
                     h4 E-mail: AlbionVAN@albion.ca
                     h4 Careers: AlbionVanJobs@albion.ca
               .col-sm-6.col-sm-offset-2
                  .spacer
                     h4 Write to us
                     form(role='form')
                        .form-group
                           input#name.form-control(type='text', placeholder='Name')
                        .form-group
                           input#email.form-control(type='email', placeholder='Enter email')
                        .form-group
                           input#phone.form-control(type='phone', placeholder='Phone')
                        .form-group
                           textarea.form-control(type='email', placeholder='Message', rows='4')
                        button.btn.btn-default(type='submit') Send
