extends layout
block content
    // banner
    .banner
        img.img-responsive(src='images/photos/banner-seafood.jpg', alt='slide')
        .welcome-message
            .wrap-info
                .information
                    h1.animated.fadeInDown Rank Trade Services Inc.
                    p.animated.fadeInUp Seafood Handling at its Best!
                a.arrow-nav.scroll.wowload.fadeInDownBig(href='#information')
                    i.fa.fa-angle-down
    // banner
    // reservation-information
    #information.spacer.reserve-info
        .container
            .row
                .col-md-offset-2.col-md-8
                    .embed-responsive.embed-responsive-16by9.wowload.fadeInLeft
                        iframe(src='https://player.vimeo.com/video/64123424?color=D20000&title=0&byline=0&portrait=0', width='960', height='540', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
    // reservation-information
    // services
    .spacer.services.wowload.fadeInUp
        .container
            .row
                .col-sm-4
                    // RoomCarousel
                    #RoomCarousel.carousel.slide(data-ride='carousel')
                        .carousel-inner
                            .item.active
                                img.img-responsive(src='images/photos/exotic-fish.jpg', alt='slide')
                            .item.height-full
                                img.img-responsive(src='images/photos/lobster.jpg', alt='slide')
                            .item.height-full
                                img.img-responsive(src='images/photos/shellfish.jpg', alt='slide')
                        // Controls
                        a.left.carousel-control(href='#RoomCarousel', role='button', data-slide='prev')
                            i.fa.fa-angle-left
                        a.right.carousel-control(href='#RoomCarousel', role='button', data-slide='next')
                            i.fa.fa-angle-right
                    // RoomCarousel
                    .caption
                        | Our Products
                        a.pull-right(href='/products')
                            i.fa.fa-edit
                .col-sm-4
                    // RoomCarousel
                    #TourCarousel.carousel.slide(data-ride='carousel')
                        .carousel-inner
                            .item.active
                                img.img-responsive(src='images/photos/1.jpg', alt='slide')
                            .item.height-full
                                img.img-responsive(src='images/photos/2.jpg', alt='slide')
                            .item.height-full
                                img.img-responsive(src='images/photos/5.jpg', alt='slide')
                        // Controls
                        a.left.carousel-control(href='#TourCarousel', role='button', data-slide='prev')
                            i.fa.fa-angle-left
                        a.right.carousel-control(href='#TourCarousel', role='button', data-slide='next')
                            i.fa.fa-angle-right
                    // RoomCarousel
                    .caption
                        | Our facilities
                        a.pull-right(href='/services')
                            i.fa.fa-edit
                .col-sm-4
                    // RoomCarousel
                    #FoodCarousel.carousel.slide(data-ride='carousel')
                        .carousel-inner
                            .item.active
                                img.img-responsive(src='images/photos/5.jpg', alt='slide')
                            .item.height-full
                                img.img-responsive(src='images/photos/2.jpg', alt='slide')
                            .item.height-full
                                img.img-responsive(src='images/photos/1.jpg', alt='slide')
                        // Controls
                        a.left.carousel-control(href='#FoodCarousel', role='button', data-slide='prev')
                            i.fa.fa-angle-left
                        a.right.carousel-control(href='#FoodCarousel', role='button', data-slide='next')
                            i.fa.fa-angle-right
                    // RoomCarousel
                    .caption
                        | Our Services
                        a.pull-right(href='/services')
                            i.fa.fa-edit
    // services