doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title Rank | Trade Services Inc
        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Raleway:300,500,800|Old+Standard+TT', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Raleway:300,500,800', rel='stylesheet', type='text/css')
        // font awesome
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
        // bootstrap
        link(rel='stylesheet', href='public/assets/bootstrap/css/bootstrap.min.css')
        // uniform
        link(type='text/css', rel='stylesheet', href='public/assets/uniform/css/uniform.default.min.css')
        // animate.css
        link(rel='stylesheet', href='public/assets/wow/animate.css')
        // gallery
        link(rel='stylesheet', href='public/assets/gallery/blueimp-gallery.min.css')
        // favicon
        link(rel='shortcut icon', href='public/images/favicon.png', type='image/x-icon')
        link(rel='icon', href='images/favicon.png', type='image/x-icon')
        link(rel='stylesheet', href='public/assets/style.css')
    body#home
        // header
        nav.navbar.navbar-default(role='navigation')
            .container
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/')
                        img(src='images/logo.png', alt='')
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse.navbar-right
                    ul.nav.navbar-nav
                        li
                            a(href='/') Home
                        li
                            a(href='/products') Our Products
                        li
                            a(href='/about') About Us
                        li
                            a(href='/services') Our Services
                        li
                            a(href='/contacts') Contact
                // Wnavbar-collapse
            // container-fluid
        // header
        //.container
        block content
        footer.spacer
            .container
                .row
                    .col-sm-5
                        h4 Rank
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            | aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            | culpa qui officia deserunt mollit anim id est laborum.
                    .col-sm-3
                        h4 Quick Links
                        ul.list-unstyled
                            li
                                a(href='index.html') Home
                            li
                                a(href='rooms-tariff.html') Our Products
                            li
                                a(href='introduction.html') About Us
                            li
                                a(href='gallery.html') Our Services
                            li
                                a(href='contact.html') Contact
                    .col-sm-4.subscribe
                        h4 Subscription
                        .input-group
                            input.form-control(type='text', placeholder='Enter email id here')
                            span.input-group-btn
                                button.btn.btn-default(type='button') Get Notify
                        .social
                            a(href='#')
                                i.fa.fa-facebook-square(data-toggle='tooltip', data-placement='top', data-original-title='facebook')
                            a(href='#')
                                i.fa.fa-instagram(data-toggle='tooltip', data-placement='top', data-original-title='instragram')
                            a(href='#')
                                i.fa.fa-twitter-square(data-toggle='tooltip', data-placement='top', data-original-title='twitter')
                            a(href='#')
                                i.fa.fa-pinterest-square(data-toggle='tooltip', data-placement='top', data-original-title='pinterest')
                            a(href='#')
                                i.fa.fa-tumblr-square(data-toggle='tooltip', data-placement='top', data-original-title='tumblr')
                            a(href='#')
                                i.fa.fa-youtube-square(data-toggle='tooltip', data-placement='top', data-original-title='youtube')
                // /.row
            // /.container
            // /.footer-bottom
        // The Bootstrap Image Gallery lightbox, should be a child element of the document body
        #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
            // The container for the modal slides
            .slides
            // Controls for the borderless lightbox
            h3.title title
            a.prev ‹
            a.next ›
            a.close ×
            // The modal dialog, which will be used to wrap the lightbox content
        script(src='public/assets/jquery.js')
        // wow script
        script(src='public/assets/wow/wow.min.js')
        // uniform
        script(src='public/assets/uniform/js/jquery.uniform.js')
        // boostrap
        script(src='public/assets/bootstrap/js/bootstrap.js', type='text/javascript')
        // jquery mobile
        script(src='public/assets/mobile/touchSwipe.min.js')
        // jquery mobile
        script(src='public/assets/respond/respond.js')
        // gallery
        script(src='public/assets/gallery/jquery.blueimp-gallery.min.js')
        // custom script
        script(src='public/assets/script.js')
        script(src='https://maps.googleapis.com/maps/api/js')
        script(src='public/assets/geo.js')
   