nav.navbar.navbar-default(role='navigation')
   .container
      // Brand and toggle get grouped for better mobile display
      .navbar-header
         button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a.navbar-brand(href='index.php')
            img(src='images/logo.png', alt='holiday crown')
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse.navbar-right
         ul.nav.navbar-nav
            li
               a(href='index.html') Home
            li
               a(href='rooms-tariff.html') Our Products
            li
               a(href='introduction.html') About Us
            li
               a(href='gallery.html') Our Services
            li
               a(href='contact.html') Contact
      // Wnavbar-collapse
   // container-fluid
// header