extends layout
block content
   .container
      h2 Our Products
      // form
      .row
         .col-sm-6.wowload.fadeInUp
            .rooms
               img.img-responsive(src='images/photos/miami.jpg')
               .info
                  h3 Local Fish
                  p
                     | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  a.btn.btn-default(href='/product') View Details
         .col-sm-6.wowload.fadeInUp
            .rooms
               img.img-responsive(src='images/photos/exotic-fish.jpg')
               .info
                  h3 Exotic Fish
                  p
                     | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  a.btn.btn-default(href='/product') View Details
         .col-sm-6.wowload.fadeInUp
            .rooms
               img.img-responsive(src='images/photos/shellfish.jpg')
               .info
                  h3 Shellfish
                  p
                     | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  a.btn.btn-default(href='/product') View Details
         .col-sm-6.wowload.fadeInUp
            .rooms
               img.img-responsive(src='images/photos/shrimps.jpg')
               .info
                  h3 Shrimps
                  p
                     | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  a.btn.btn-default(href='/product') View Details
         .col-sm-6.wowload.fadeInUp
            .rooms
               img.img-responsive(src='images/photos/lobster.jpg')
               .info
                  h3 Lobsters
                  p
                     | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  a.btn.btn-default(href='/product') View Details

