extends layout
block content
    .container
      h1.title Lobsters
      // RoomDetails
      #RoomDetails.carousel.slide(data-ride='carousel')
         .carousel-inner
            .item.active
               img.img-responsive(src='images/photos/lobster.jpg', alt='slide')
            .item.height-full
               img.img-responsive(src='images/photos/lobster1.jpg', alt='slide')
            .item.height-full
               img.img-responsive(src='images/photos/lobster2.jpg', alt='slide')
            .item.height-full
               img.img-responsive(src='images/photos/lobster3.jpg', alt='slide')
            .item.height-full
               img.img-responsive(src='images/photos/lobster4.jpg', alt='slide')
            .item.height-full
               img.img-responsive(src='images/photos/lobster5.jpg', alt='slide')
         // Controls
         a.left.carousel-control(href='#RoomDetails', role='button', data-slide='prev')
            i.fa.fa-angle-left
         a.right.carousel-control(href='#RoomDetails', role='button', data-slide='next')
            i.fa.fa-angle-right
      // RoomCarousel
      .room-features.spacer
         .row
            .col-sm-12
               h1.page-title Freezing and Thawing Whole Lobster
               // <div class="composition-body">
               p.p1
                  | Freezing lobster is a good option for helping to manage inventory, as long as it is done
                  | correctly. You can also use our thawing and preparation methods for lobster that is purchased
                  | frozen. The University of Maine Department of Food Science & Human Nutrition and the Lobster
                  | Institute provided the below freezing and thawing instructions.
               p.p2
                  strong How to Prepare and Freeze Whole In-shell Lobster
                  | :
               p.p1
                  i
                     | Properly prepared whole or “in the shell” lobster has a good quality shelf-life of 9 to
                     | 12 months.
               ol.ol1
                  li Lobsters should be chilled and live.
                  li
                     | Blanch at 212° for 60 seconds in a 2% salt brine (1.5 ounces, or roughly 1/2 cup, of
                     | non-iodized salt or sea salt to 2 quarts of water).
                  li
                     | Chill after blanching in cold running water or in a tub with a mixture of 50% water
                     | to 50% ice.
                  li Following a 15-20 minute chill, remove excess surface water.
                  li
                     | Place lobsters in commercial freezer bags and remove as much air as possible. New
                     | Ziploc vacuum bag systems available at supermarkets work well.
                  li Place in second freezer bag or over-wrap with a laminated freezer wrap.
                  li Freeze at -18° C (0° F) or lower — standard for freezer units.
                  li
                     | Store frozen at -18° C (0° F) or lower. The lower the storage temperature, the
                     | better the lobster meat quality will be maintained.
               p.p2
                  strong How to Thaw and Prepare Frozen Whole Lobster
                  | :
               ol.ol1
                  li.li4 Lobsters should be thawed overnight in the refrigerator.
                  li.li4
                     | Thawed lobsters should be boiled in a 2% salt brine for
                     | 12-15 minutes.
               hr
               // </div>