extends layout
block content
   .container
      h1.title Our Services
      .row.gallery
         .col-sm-4.wowload.fadeInUp
            a.gallery-image(href='images/photos/1.jpg', title='Fish & Seafood Brokers', data-gallery='')
               img.img-responsive(src='images/photos/1.jpg')
         .col-sm-8.service-text
            h3 Fish & Seafood Brokers
            |  xnvlkjxcnvlkjcxvlkjcnxvk jnxkcj vnlk jvncxkjnv kxcjn vkcxjn nvlkxcjn lkvxcjn lkvxj nlkjx nlkjx nvkjx nkxc
         .col-sm-4.wowload.fadeInUp
            a.gallery-image(href='images/photos/2.jpg', title='Fish Processing Services', data-gallery='')
               img.img-responsive(src='images/photos/2.jpg')
         .col-sm-8.service-text
            h3 Fish Processing Services
            |  xnvlkjxcnvlkjcxvlkjcnxvk jnxkcj vnlk jvncxkjnv kxcjn vkcxjn nvlkxcjn lkvxcjn lkvxj nlkjx nlkjx nvkjx nkxc
         .col-sm-4.wowload.fadeInUp
            a.gallery-image(href='images/photos/3.jpg', title=' Refrigeration', data-gallery='')
               img.img-responsive(src='images/photos/3.jpg')
         .col-sm-8.service-text
            h3  Refrigeration
            |  xnvlkjxcnvlkjcxvlkjcnxvk jnxkcj vnlk jvncxkjnv kxcjn vkcxjn nvlkxcjn lkvxcjn lkvxj nlkjx nlkjx nvkjx nkxc
         .col-sm-4.wowload.fadeInUp
            a.gallery-image(href='images/photos/4.jpg', title='Packaging Services', data-gallery='')
               img.img-responsive(src='images/photos/4.jpg')
         .col-sm-8.service-text
            h3 Packaging Services
            |  xnvlkjxcnvlkjcxvlkjcnxvk jnxkcj vnlk jvncxkjnv kxcjn vkcxjn nvlkxcjn lkvxcjn lkvxj nlkjx nlkjx nvkjx nkxc
         .col-sm-4.wowload.fadeInUp
            a.gallery-image(href='images/photos/5.jpg', title='Freight Forwarding', data-gallery='')
               img.img-responsive(src='images/photos/5.jpg')
         .col-sm-8.service-text
            h3   Freight Forwarding
            |  xnvlkjxcnvlkjcxvlkjcnxvk jnxkcj vnlk jvncxkjnv kxcjn vkcxjn nvlkxcjn lkvxcjn lkvxj nlkjx nlkjx nvkjx nkxc
